.circle{
    background: #78bde7;
    color: #13224b;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    text-align: center;    
    position: fixed;
    top: 100px;
    left: 200px;
    box-shadow:0 0 0 50px#13224b;
    }
#first{
    margin-top: 50px;
}
h1{
    margin-top: 40px;
}
.spiral{
    color:#78bde7;

}