<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fight!!!</title>
</head>
<body>
    <div class id= standing>   
         
        <button class id =attack>Attack</button>
        <button class id =defend>Defend</button>
        <button class id =takedown>Takedown</button>
    </div>

    <div class id = top>
        <button class id =attack>Attack</button>
        <button class id =submit>Submit</button>
        <button class id =defend>Defend</button>
    </div>
    <div class id = bottom>
        <button class id =reverse>Reverse</button>
        <button class id =submit_defense>Submit Defense</button>
        <button class id =escape>Escape</button>
    </div>
</body>
</html>